body,
html {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	scroll-behavior: smooth;
}

body {
	padding-top: 4rem;
}

a {
	color: #3b9fbd;
}

p {
	font-family: 'Encode Sans Variable', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.502;
	margin-right: 0.15rem;
}
